.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  position: fixed;
  background-color: #222;
  width: 100%;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

section {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: flex-start;

  .background {
    width: 100%;
    height: 900px;
  }
}


.background {
  width: 100%;
  height: 1000px;
}

.project-img {
  width: 500px;
  height: 400px;
}
